body {
    margin: 0;
    padding: 0;
}
#main{
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.grid {
    display: flex;
    border: 2px solid black;
    height: 50rem;
    width: 50rem;
}
